.App-header {
  align-items: center;
  display: flex;
  border-bottom: solid 2px red;
  margin-bottom: 60px;
}

.App-header h1 {
  color: red;
}

.App-header img {
  width: 200px;
  height: 200px;
}

.App-body {
  margin-left: 30px;
}

.App-footer {
  border-top: 3px solid #e0354b;
  position: absolute;
  bottom: 0%;
  width: 99%;
  font-style: italic;
  text-align: center;
}

.App-body Form {
  padding: 20px;
}

.App-body form label {
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 10px;
}
.App-body form button {
  margin-left: 10px;
  background-color: rgb(255, 255, 254);
  border-radius: 5px;
  border-color: rgba(234, 236, 239, 0.3);
}
